/*
* Starts: Contactus */
.contact-us{
  background: linear-gradient(135deg, rgba(54, 177, 74, 0.912202) 34%, #4a9cb0 98%);
  height: 100vh;
  .address {
    padding: 5%;
    color: #ffffff;
    h4{
      /*color: #DE354C;*/
      font-size: 34px;
      margin-bottom: 30px;
      margin-top: 0px;
    }
    p {
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }
}