/*
* Home Page
*/
.home-wrapper { 
  display: flex;
  flex-direction: column;
  position: relative;
  .hc-1{
    width: 100%;
    height: 600px;
    position: relative;
    .carosuel{
      width: 100%;
      height: 100%;
      img{
        object-fit: fill;
      }
    }
    .moving-text{
      height: 6rem;
      width: 40rem;
      position: absolute;
      bottom:0rem;
      left: 5rem;
      font-weight: 700;
      font-family: 'Roboto', sans-serif;
      word-spacing: 0.65rem;//10px;
      letter-spacing: 0.185rem;//4px
    }
    .right-section{
      display: flex;
      width: 18rem;
      position: absolute;
      right:0;
      top: 4rem;  
      ul{
        li{
          background: linear-gradient(135deg, rgba(54,177,74,0.9122023809523809) 34%, rgba(74,156,176,1) 98%);
          color: #ffffff;
          margin: 0.875rem 0;
          padding: 0.65rem 0;
          text-align: center;
          border-radius: 0.65rem 0 0 0.65rem;
          height: 5rem;
          display: flex;       
          a{
            text-decoration: none;
            font-weight: 600;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0.55rem;
            img{
              width: 3.5rem; //65px
              height: 3.5rem;//65px
              background-color: #fff;
              border-radius: 50%;
            }
            span{
              padding: 0.65rem 0;
              display: inline-block;
              margin-left: 0.65rem;
              text-align: left;
              font-size: 1.125rem;
            }
          }
          
        }
      }
    }
  }
  .hc-2{
    background: linear-gradient(135deg, rgba(54, 177, 74, 0.912202) 34%, #4a9cb0 98%);
    color: #fff;
    height: 40px;
    h4{
      color: #fff;
      font-weight: 700;
      padding: 0.65rem 0;
      text-align: center;
    }
  }
  .hc-3{
    color: #049e33;
    padding: 3.25rem 0;
    width: 90%;
    margin: 0 auto;
    position: relative;
    &__item {
      &__content{
        flex-grow: 9999; 
        flex-basis: 15rem;
        padding:0 1rem;
        p{
          font-size: 1.25rem;
          font-weight: 500;
          line-height: 2.125rem;
          color: #555555;
          text-align: justify;
          text-justify: inter-word;
          margin-bottom: 1.5rem;
        }
      }
      &__figure{
        min-width: 15rem;
        max-width: max-content;
        flex-basis: 15rem;
        flex-grow: 9999;
        box-shadow: 0 0 0.975rem 0.65rem rgba(0,0,0,0.1);
        margin: 0 1rem;
        img{
          object-fit: cover;
        }
      }
    }  
     
  }
  .hc-4{
    background: linear-gradient(135deg, rgba(54, 177, 74, 0.912202) 34%, #4a9cb0 98%);
    color: #fff;
    position: relative;
    &__container{
      width: 90%;
      margin: 0 auto;
      .uc{
        p{
          flex-basis: 20rem;
        }
      }
    }
    h2{
      font-weight: 600;
      padding: 0.65rem 0;
      text-align: center;
      margin-bottom: 1.875rem;
      position: relative;
      &::after {
        content: '';
        height: 2px;
        width: 10rem;
        position: absolute;
        bottom: 0;
        background-color: #fff;
        left: 43%;
      }
    }
    h3{
      font-weight: 500;
      text-align: left;
      margin-bottom: 0.875rem;
    }
    &__tile2{
      flex-basis: 15rem;
      flex-grow: 9999;
      .bl{
        border-right: 1px solid #fff !important;
      }
    }
    .flaticon{
      font-size: 1.25rem;
      display: flex;
      margin: 0.75rem 0;
      padding: 1rem 0;
      margin-right: 5rem;
      border-right: 1px solid #fff;
      &:last-child{
        border: none;
      }
      img{
        width: 5rem;
        height: 5rem;
      }
      span {
          font-size: 1.25rem;
          font-weight: 500;
          line-height: 2rem;
          margin-left: 1.875rem;
          display: inline-block;
      }
      
    }
  }
} 
@media only screen and (max-width: 768px) {
  .home-wrapper{
    .hc-1{
      .right-section{
        display: flex;
        width: 15rem;
        ul{
          li{
            a span{
              font-size: 1rem;
            }
          }
        }
      }
    }
    .hc-2{
      height: 35px;
    }
    .hc-3{
      &__item {
        &__content{
          flex-grow: 9999; 
          flex-basis: 10rem;
          padding:0 1rem;
          p{
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 2rem;
            margin-bottom: 1rem;
          }
        }
        &__figure{
          min-width: 11rem;
          max-width: max-content;
          flex-basis: 11rem;
          flex-grow: 9999;
          margin: 0 0.75rem;
          img{
            object-fit: cover;
          }
        }
      }
    }  
    .hc-4{
      .flaticon{
        border: none;
      }

    }
  }
}
@media only screen and (max-width: 480px) {
  .home-wrapper{
    .hc-1{
      height: 380px;
      .right-section{
        display: block;
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        ul{
          li{
            height: 7rem;
            margin: 0.35rem 0;
            padding: 0.65rem 0;
            text-align: center;
            border-radius: 0;
            a{
              img{
                width: 5rem;
                height: 5rem;
              }
              span{
                font-size: 1rem;
              }
            }
          }
        }
      }
      .moving-text{
        height: 2rem;
        width: 20rem;
        position: absolute;
        bottom: 2rem;
        left: 1.25rem;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        word-spacing: 0.65rem;//10px;
        letter-spacing: 0.185rem;
        h1{
          font-size: 1.25rem;
        }
        
      }
    }
    .hc-2{
      display: none;
    }
    .hc-3{
      top: 37rem;
      padding: 1rem 0;
      &__item {
        &__content{
          padding: 0 1.25rem 1.25rem 1.25rem;
          p{
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.875rem;
            margin-bottom: 1rem;
          }
        }
        &__figure{
          box-shadow: 0 0 0.65rem 0.35rem rgba(0,0,0,0.1);
        }
      }  
    }
    .hc-4{
      top: 37rem;
      &__container{
        .uc{
          p{
            flex-basis: 15rem;
          }
        }
      }
      h2{
        padding: 0.35rem 0;
        margin-bottom: 1rem;
        &::after {
          content: '';
          height: 2px;
          width: 5rem;
          bottom: 0;
          left: 40%;
        }
      }
      h3{
        margin-bottom: 0.675rem;
      }
      &__tile2{
        flex-basis: 15rem;
        flex-grow: 9999;
        .bl{
          border-right: none !important;
        }
      }
      .flaticon{
        font-size: 1rem;
        width: 100%;
        display: flex;
        margin: 0.55rem 0;
        padding: 1rem 0;
        img{
          width: 3rem;
          height: 3rem;
        }
        span {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5rem;
            margin-left: 1rem;
            display: inline-block;
        }
        
      }
    }
  } 
}

