// @import 'themes.scss';
//@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@500&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

//Common
body{
  //font-family: 'Nunito Sans', sans-serif;
  //font-family: 'Nunito', sans-serif;
  //font-family: 'Poppins', sans-serif;
  //font-family: 'Proza Libre', sans-serif;
  //font-family: 'Spectral', serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  //background-image: linear-gradient( 315deg, #39603D 10%, #9BC40F 100%);
  background: linear-gradient(135deg, rgba(54,177,74,0.9122023809523809) 34%, rgba(74,156,176,1) 98%);
  color: #ffffff;
  height: 100vh;
  margin:0;
  padding:0;
}
h1,h2,h3,h4 {
  margin:0;
  padding:0;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.container-section {
  padding: 3% 8%;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
}
.flex-container{
  display: flex;
  flex-direction: column;
}
/*
* Starts: Header */
nav{
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  background: linear-gradient(135deg, rgba(54,177,74,0.9122023809523809) 34%, rgba(74,156,176,1) 98%);
  /* position: fixed; */
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 100;
    .logo {
      .logo-img {
        width: 120px;
      }
    }
    .navigation {
      width: 60%;
      ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        li a{
          text-decoration: none;
          font-size: 1.12rem;
          font-weight: 600;
          color:#ffffff;
          padding: 10px 20px;
          &:hover{
            font-size: 1.25rem;
          }
        }
      

      }
      .active {
        font-weight: 500;
        color: #ffffff;
        border-bottom: 2px solid;
        transition: all 0.3s ease-out;
      }
    }
  }
}

/*
* Starts: Contactus */
.address {
  padding: 5%;
  color: #ffffff;
  h4{
    /*color: #DE354C;*/
    font-size: 34px;
    margin-bottom: 30px;
    margin-top: 0px;
  }
  p {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

/*
* Home Page
*/
.home {
  
  .container-11{
    width: 100%;
    height: 80vh;
    background: url('../images/home-13.jpeg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    border-bottom: 1px solid #ffffff;
    .right-section{
      width: 20%;
      margin:0 auto;
      position: absolute;
      right:0;
      top: 7%;
        h3{
          text-align: center;
          font-size: 1.12rem;
          padding-bottom: 10px;
        }
        .flex-container p{
          background: linear-gradient(135deg, rgba(54,177,74,0.9122023809523809) 34%, rgba(74,156,176,1) 98%);
          color: #ffffff;
          //font-size: 1.12rem;
          margin: 5px 0px;
          padding: 8px 10px;
          text-align: center;
          font-weight: 600;
          border-radius: 10px 0 0px 10px;
          height: 80px;
          display: flex;
          font-size: 1.012rem;
          img{
            width: 10vh;
            height: 10vh;
            background-color: #fff;
            border-radius: 10vh;
          }
          h4{
            padding: 10px 0px;
            display: block;
            margin-left: 15px;
            text-align: left;
          }
        }
      }
  }
  .container-12{
    display: flex;
    color: #ffffff;
    flex-direction: row;
    justify-content: space-evenly;
    p{
      border-right: 1px solid #ffffff;
      padding: 0 20px;
    }
  }
}


/*
* Our Work
*/

.our-work{
  h2{
    margin: 20px 0;
    text-align: center;
  }
  .workflow-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    div{
      border-radius: 40px;
      padding: 10px;
      /* color: #164A41; */
      border: 2px solid;
      height: 40px;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
    }
  }
}
.how-it-work {
  padding: 50px 0px;
  .container-section {
    width: 400px;
    margin: auto;
    padding-bottom: 50px;
  }
  p {
    border-top: 2px dashed;
    border-color: rgb(212, 223, 60) !important;
    margin: 0;
    padding: 30px;
    counter-increment: section;
    position: relative;
  }
  p:nth-child(even):before {
    content: counter(section);
    right: 100%;
    margin-right: -20px;
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
    background-color: rgb(212, 223, 60);
    text-align: center;
    color: white;
    font-size: 110%;
  }
  p:nth-child(odd):before {
    content: counter(section);
    left: 100%;
    margin-left: -20px;
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
    background-color: rgb(212, 223, 60);
    text-align: center;
    color: white;
    font-size: 110%;
  }
  p:nth-child(even) {
    border-left: 2px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
    padding-right: 0;
  }
  p:nth-child(odd) {
    border-right: 2px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px;
    padding-left: 0;
  }
  p:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  p:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.section-heading {
  font-size: 48px;
  line-height: 20px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 60px;
  position: relative;
  &:after {
    content: " ";
    position: absolute;
    bottom: -25px;
    left: 50%;
    width: 100px;
    border: 2px solid;
    transform: translateX(-50%);
  }
}





@media only screen and (max-width: 600px) {
  .navigation{
    display: none;
  }
  .home{
    width: 90%;
    .headline-big {
      font-size: 3.385em;
    }
    .intro{
      font-size: 1.2em;
    }
  }
  .how-it-work {
    padding: 50px 0px;
    .container-section {
      width: 300px;
    }
  }
}
