// @import 'themes.scss';

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  z-index: 100;
  position: fixed;
  top: 0px;
  background: transparent;
  left: 0px;
  right: 0px;
  .logo {
    .logo-img {
      width: 120px;
    }
  }
  .navigation {
    width: 60%;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      li {
        font-size: 16px;
      }
    }
    .active {
      font-weight: 500;
      color: #ffffff;
      border-bottom: 2px solid;
      transition: all 0.3s ease-out;
    }
  }
}

.home {
  width: 70%;
  margin: 4rem auto;
  .headline-big {
    font-size: 5.385em;
    font-weight: 700;
    color: #f2c71a;
    margin: 0px;
  }
  .intro {
    font-size: 1.692em;
    font-weight: 200;
    color: "#FFFFFF";
  }
}

.how-it-work {
  padding: 50px 0px;
  .container-section {
    width: 400px;
    margin: auto;
    padding-bottom: 50px;
  }
  p {
    border-top: 2px dashed;
    border-color: rgb(212, 223, 60) !important;
    margin: 0;
    padding: 30px;
    counter-increment: section;
    position: relative;
  }
  p:nth-child(even):before {
    content: counter(section);
    right: 100%;
    margin-right: -20px;
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
    background-color: rgb(212, 223, 60);
    text-align: center;
    color: white;
    font-size: 110%;
  }
  p:nth-child(odd):before {
    content: counter(section);
    left: 100%;
    margin-left: -20px;
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
    background-color: rgb(212, 223, 60);
    text-align: center;
    color: white;
    font-size: 110%;
  }
  p:nth-child(even) {
    border-left: 2px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
    padding-right: 0;
  }
  p:nth-child(odd) {
    border-right: 2px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px;
    padding-left: 0;
  }
  p:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  p:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.section-heading {
  font-size: 48px;
  line-height: 20px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 60px;
  position: relative;
  &:after {
    content: " ";
    position: absolute;
    bottom: -25px;
    left: 50%;
    width: 100px;
    border: 2px solid;
    transform: translateX(-50%);
  }
}

.container-section {
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 100px;
}

.address {
  padding: 0 20%;
  h4,
  p {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .navigation{
    display: none;
  }
  .home{
    width: 90%;
    .headline-big {
      font-size: 3.385em;
    }
    .intro{
      font-size: 1.2em;
    }
  }
  .how-it-work {
    padding: 50px 0px;
    .container-section {
      width: 300px;
    }
  }
}
