$themes: (
  primary: (
    darkGreen: #164A41,
    mediumGreen: #4D774E,
    lightGreen: #9DC88D,
    naturalYellow: #F1B24A,
    white: #FFFFFF,
    green: #36b14a,
    blue: #4a9cb0,
   black-1: #696969 // background-color:transparent
    logored: #fc0707,
    logoorange: #fa7f14,
    logoorange1:#f58d73,
    logoyellow1:#fab609,
    logoyellow2:#f6d01a,
    logoorange3:#edd5ce,

   ),
);