/* ul {
  list-style-type: none;
}

.navigation {
  position: fixed;
  z-index: 100;
  top: 0px;
  right: 0px;
}
.navigation ul {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.navigation ul li.active {
  background: white;
  font-size: 14px;
} */
